# Dependency directories
node_modules/

# IDE files
.product
.vscode/

# Logs
logs/
*.log
npm-debug.log*

# dotenv environment variables file


# encryption keys
*.key
/*.pem

# MacOs system file
.DS_Store
*.mongo
.editorconfig
.prettierrc

.werf_secret_key

coverage/
